.head {
  display: block;
  position: relative;
}

.headerNav {
  width: 100%;
  position: absolute;
  z-index: 3;
}

#navBar {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

#navBrand {
  font-weight: 700;
  color: rgb(96, 85, 255);
}

.navLink:hover {
  color: rgb(101, 90, 255) !important;
}

.button_loginregister {
  text-align: center;
}

#login,
#register {
  display: none;
}

#custom_dropdown {
  max-width: 40%;
}

@media (min-width: 992px) {
  .button_loginregister {
    display: none;
  }
  #login,
  #register {
    display: block;
  }

  #login {
    margin-left: 20px;
    margin-right: 12px;
  }
}
